{% extends current_theme|add:"/panelUser.html" %}
{% load static %}

{% block title %}Mudar Nome{% endblock %}

{% block User %}
<div class="title">
    <img src="{% static 'kingrox/static/img/Chaos.png' %}" alt="chaos">
    <h3>Mudar Nome do Personagem</h3>
</div>
<hr style="margin: 5px 0 50px 0;">

<form method="POST" class="cadastro-form" action="{% url 'mudar_nome' %}">
    {% csrf_token %}

    {{ form.as_p }}  <!-- Renderiza o formulário automaticamente -->

    <button type="submit">Alterar Nome</button>
</form>
{% endblock %}
